build/*
node_modules/
expath-pkg.xml
.existdb.json
.DS_Store
local.build.properties

# IDE settings
.vscode/
.idea/
.zed/
.cursor/

.claude/
.moderne/

test/cypress/downloads/
test/cypress/screenshots/
test/cypress/videos/
