@import url('$shared/resources/css/exist-2.2.css');

.fileinput-button {
    margin: 20px 0 20px 0;
}

#files {
    margin-top: 20px;
}

/* adapted from dashboard packageManager plugin */

#listWrapper {
  /*width: 100%;*/
  line-height: 20px;
}
#listWrapper ul {
    position: relative;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#listWrapper ul li {
  margin: 5px 0 0 0;
  -webkit-border-radius: 0px 20px 0px 0px;
  -moz-border-radius: 0px 20px 0px 0px;
  border-radius: 0px 20px 0px 0px;
  width: 100%;
}
#listWrapper ul li .ribbon {
  position: absolute;
  right: 0;
  width: 80px;
}
#listWrapper ul li .toolbar {
  display: none;
  text-align: center;
  width: 100%;
}
#listWrapper table {
  background: transparent;
}
#listWrapper table th,
#listWrapper table td {
  text-align: left;
  vertical-align: top;
}
#listWrapper table th form,
#listWrapper table td form {
  padding: 0;
}
#listWrapper table ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#listWrapper table ul li {
  margin: 0;
}
#listWrapper .packageIconArea {
  float: left;
  margin: 15px;
  height: 80px;
  position: relative;
}
#listWrapper .packageIconArea .appIcon {
  max-width: 64px;
  max-height: 64px;
}
#listWrapper .packageIconArea .appFunctions {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 20;
}
#listWrapper h3 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 5px 0;
}
#listWrapper .shortTitle p.requires {
  font-weight: bold;
  margin-top: 0;
}
#listWrapper .shortView li {
  height: 80px;
}
#listWrapper .shortView table {
  display: none;
}
#listWrapper .shortView .shortTitle h3 {
  font-size: 1.2em;
  display: block;
  margin-top: 5px;
}
#listWrapper .shortView .packageIconArea .appIcon {
  height: 50%;
}
#listWrapper > ul > li {
  border: thin solid #a0a1a3;
}