#main {
  min-height: calc(100vh - 14rem);
}

#files {
    margin-top: 20px;
}

.hero {
  text-shadow: 1px 1px 2px var(--darkprimary);
  font-size: 3.25rem;
  font-weight: 700;
}

.tagline {
  font-weight: bold;
  font-size: 1.25em;
}

/* download stats */

.download-number {
  font-size: 2rem;
  width: 10%;
  text-align: center;
}

/* package lists */

.package-list {
  list-style-type: none;
  padding-inline-start: 0;
}

.package {
  display: flex;
  position: relative;
  border: thin solid var(--lightgrey);
  border-radius: 0 1.2rem 0 0;
  margin-block-end: 1rem;
  background-color: #fefefe;
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 5rem;
  --package-info-margin: 1.5rem;
}
.package.package-detail {
  margin-block-end: 3rem;
  background-size: 4rem;
}
.package-detail .package-info {
  margin-block-end: 4rem;
}

.package.application {
  background-image: url(/exist/apps/public-repo/resources/images/app.gif);
}
.package.library {
  background-image: url(/exist/apps/public-repo/resources/images/library.gif);
}

.package.plugin {
  background-image: url(/exist/apps/public-repo/resources/images/plugin.gif);
}

.package-info {
  margin-inline-end: 4rem;
}

.package .package-icon-area {
  margin: var(--package-info-margin);
}
.package-detail .package-icon-area {
  margin-block-start: 2.25rem; /* h2 margin-block-start */
}

.package .package-icon-area .app-icon {
  width: 4rem;
  max-height: 4rem;
}

.package-info .package-title {
  margin-block-start: var(--package-info-margin);
  font-size: 1.25em;
  font-weight: bold;
}

.package-list table {
  background: transparent;
}
.package-list table th,
.package-list table td {
  text-align: left;
  vertical-align: top;
}
.package-list table th form,
.package-list table td form {
  padding: 0;
}
.package-list table ul {
  padding-inline-start: 0;
  list-style-type: none;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (min-width: 992px) {
  .hero {
    font-size: 6rem;
  }
  .package {
    background-size: 6rem;
  }
  .package.package-detail {
    margin-block-end: 4rem;
    background-size: 8rem;
  }
  .package-detail .package-info {
    margin-block-end: 4rem;
  }
  .package .package-icon-area .app-icon {
    width: 6rem;
    max-height: 6rem;
  }
}
