<?xml version="1.0" encoding="UTF-8"?>
<div data-template="templates:surround" data-template-with="templates/page.html" data-template-at="main">
    <div class="row">
        <div class="col-md-12">
            <h1>XAR Package Registry</h1>
            <p>
                <a href="./">Back to listing of all packages</a>
            </p>
            <div class="package-list">
                <ul class="packages">
                    <li data-template="app:view-package"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
