<?xml version="1.0" encoding="UTF-8"?>
<html data-template="lib:resolve-apps" data-template-abbrev="dashboard, eXide, fundocs, exist-documentation, demo, monex">
    <head>
        <title>Expath Package Registry</title>
        <base data-template="app:base-url" />
        <link rel="shortcut icon" href="resources/images/exist_icon_16x16.ico" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="resources/css/bootstrap.min.css" rel="stylesheet" />
        <link rel="stylesheet" type="text/css" href="resources/css/exist-6.css" />
        <link rel="stylesheet" type="text/css" href="resources/css/public-repo.css" />
        <link rel="alternate" type="application/atom+xml" href="feed.xml" title="eXist-db Public Package Repository"/>
    </head>
    <body data-template="lib:parse-params" data-template-start="\{">
        <div class="container"><div id="header"><a href="/" id="logo">eXistDB</a></div></div>
        <nav class="navbar navbar-dark navbar-expand-md" role="navigation">
            <div class="container navbar-container">
              <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar-collapse-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
                <span class="visually-hidden-focusable">Toggle navigation</span>
              </button>
              <div class="navbar-collapse collapse" id="navbar-collapse-1">
                <ul class="navbar-nav me-auto">
                  <li class="nav-item dropdown">
                    <a href="" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="search" class="nav-link">Search</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a href="list" class="nav-link">List</a>
                  </li>
                  <li class="nav-item">
                    <a href="admin" class="nav-link">Admin</a>
                  </li>
                  <li class="nav-item">
                    <a href="stats" class="nav-link">Statistics</a>
                  </li>
                </ul>
                <form data-template="app:show-top-nav-search" id="header-search" class="d-flex" role="search" action="search" method="GET">
                  <input type="text" name="q" class="form-control me-2" placeholder="Search Packages" />
                  <button class="btn btn-outline-info" type="submit">Search</button>
                </form>
              </div>
            </div>
          </nav>
        
          <div class="container">
            <main id="main" class="row"></main>
          </div>

          <footer id="footer">
            <div class="container d-flex">
              <ul class="me-auto">
                <li>
                  <a href="https://exist-db.org">eXist-db.org</a>
                </li>
                <li>
                  <a href="https://exist-db.org/exist/apps/doc/documentation.xml">Documentation</a>
                </li>
                <li>
                  <a href="https://exist-db.org/exist/apps/doc/legal.xml">Legal</a>
                </li>
              </ul>
              <div id="copyright" class="d-hidden-s">
                <p>Copyright eXist-db Project 2014</p>
              </div>
            </div>
          </footer>
          <script src="resources/scripts/bootstrap.bundle.min.js" defer="defer"></script>
    </body>
</html>
