<?xml version="1.0" encoding="UTF-8"?>
<html>
    <head class="templates:expand-links">
        <title>eXist-db Public App Repository</title>
        <link rel="shortcut icon" href="resources/images/favicon.ico"/>
        <link rel="stylesheet" type="text/css" href="resources/css/exist.css"/>
        <link rel="stylesheet" type="text/css" href="resources/css/packageManager.css"/>
        <link rel="alternate" type="application/atom+xml" href="feed.xml" title="eXist-db Public Package Repository"/>
        <script type="text/javascript" src="libs/scripts/jquery/jquery-1.7.1.min.js"/>
        <script type="text/javascript" src="resources/scripts/repo.js"/>
    </head>
    <body>
        <div id="grey-top">
            <div id="grey-bot">
                <div id="container">
                    <div id="header">
                        <a href="index.html" id="logo">eXistDB</a>
                    </div><!--/header-->
                    <div id="navigation">
                        <ul id="nav" class="dropdown dropdown-horizontal"/>
                    </div>
                    <div id="main">
                        <!-- Page content will be injected into the div below -->
                        <div id="content"/>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <ul>
                <li>
                    <a href="#">Documentation</a>
                </li>
            </ul>
            <div id="copyright">
                <p> Copyright eXist 2011</p>
                <p>
                    <a href="http://www.jameshambly.com"> Designed by JamesHambly.com</a>
                </p>
            </div><!--/copyright-->
        </div><!--/footer-->
    </body>
</html>