<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="main">
    <div class="row">
        <div class="col-md-12">
            <h2>Statistics</h2>
            <h3>Top 5 packages</h3>
            <ol data-template="app:package-download-stats" data-template-top-n="5">
                <li data-template="templates:each" data-template-from="package-logs" data-template-to="package-log">
                    <span data-template="app:get-package-stats"></span>
                </li>
            </ol>
        </div>
    </div>
</div>
